/web-app/WEB-INF
*.log

/grails-asset-autoprefixer-*.zip
/grails-asset-autoprefixer-*.zip.sha1
/plugin.xml

.classpath
.project
/.settings

# Intellij
/.idea
*.iml
*.iws

# Mac
.DS_Store

# Maven
/log
/target
